 *{
     margin: 0;
     padding: 0;
 }
 ul,li{
     list-style-type: none;
     padding: 0px;
 }
 a{
     color: #fff;
     text-decoration: none;
 }
 a:hover{
     color: black;
 }
 .navbars{
     background-color: brown;
     font-size: 18px;
 }
 .navbars .navbar-box{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 20px 0;
 }
 .navbars .navbar-box .logo{
     color: #fff;
 }
 .navbars .navbar-box .menu{
     display: none;
     color: #fff;
     font-size: 18px;
     border: 2px solid;
     padding: 8px;
     border-radius: 20px;
 }
 @media screen and(max-width:720px){
     .navbars .navbar-box .list{
         display: none;
     }
     .navbars .navbar-box. .menu{
         display: block;
     }
     .list-mobile{
         width: 100%;
         display: flex !important;
         flex-direction: column;
         align-items: center;
     }
 }
 .content .title{
     text-align: center;
 }
 .content .title .a{
     height: 4px;
     background-color: brown;
     width: 100px;
     margin: 0 auto;
 }
 .content .title #mv{
     margin: 20px;
 }
 .content .rows img{
     width: 94%;
     margin: 3%;
 }
 .content .rows .card-box{
     width: 200px;
     height: 310px;
     background-color: #888;
     margin: 0 auto 10px;
 }
 .content .rows .card-box .a{
     text-align: center;
 }
/*  .content .rows .card-box:hover img{
     width: 98%;
     margin: 1%;
 } */
 .footer{
     margin-top: 50px;
     width: 100%;
     background-color: #f8f9fa;
     color: black;
 }
 .footer .a{
     margin-left: 10%;
     margin-right: 10%;
     padding-top: 22px;
 }
 .footer .b{
     height: 40px;
     margin-left: 10%;
     margin-right: 10%;
     border-top: 7px solid black;
     font-size: 20px;
     text-align: center;
 }
 .footer #footer-img{
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
 }
 .rows{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 @media screen and(min-width:540px) {
     .col-sm-12{
         width: 100%;
     }
     .col-sm-6{
         width: 50%;
     }
     .col-sm-4{
         width: 33.3%;
     }
     .col-sm-3{
         width: 25%;
     }
     .col-sm-2{
         width: 20%;
     }
     
 }

 @media screen and(min-width:720px){
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-4{
        width: 33.3%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-2{
        width: 16.6666667%;
    }
     
 }
 @media screen and(min-width:960px){
    .col-lg-12{
        width: 100%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-4{
        width: 33.3%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-2{
        width: 16.6666667%;
    }
     
 }
 @media screen and(min-width:1140px){
    .col-xl-12{
        width: 100%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-4{
        width: 33.3%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-2{
        width: 16.6666667%;
    }
     
 }
 .footer #footer-img{
     display: flex;
     justify-content: flex-end;
 }